<div class="cards-lists">
  <% lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-category d-flex justify-content-center align-items-center " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <p><%= list.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
